<div class="row" id="home">
    <div class="col-xl-3 col-lg-6">
        <div class="card">
            <div class="d-flex justify-content-between">
                <div class="p-4">
                    <i class="fa fa-user fa-3x"></i>
                    <h6 class="text-uppercase">New Students</h6>
                </div>
                <div class="p-4">
                    <h3 class="display-4">23</h3>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card ">
            <div class="d-flex justify-content-between">
                <div class="p-4">
                    <i class="fa fa-user fa-3x"></i>
                    <h6 class="text-uppercase">New Students</h6>
                </div>
                <div class="p-4">
                    <h3 class="display-4">23</h3>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card ">
            <div class="d-flex justify-content-between">
                <div class="p-4">
                    <i class="fa fa-user fa-3x"></i>
                    <h6 class="text-uppercase">New Students</h6>
                </div>
                <div class="p-4">
                    <h3 class="display-4">23</h3>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card ">
            <div class="d-flex justify-content-between">
                <div class="p-4">
                    <i class="fa fa-user fa-3x"></i>
                    <h6 class="text-uppercase">New Students</h6>
                </div>
                <div class="p-4">
                    <h3 class="display-4">23</h3>
                </div>

            </div>
        </div>
    </div>
</div>