/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.dark-snackbar {
  background: #3E4095;
  color: white;
}

.danger-snackbar {
  background: #dc3545;
  color: white;
}


.bg-white {
  background-color: white;
}

.mat-dialog-container {
  padding: 0 !important;
}


#view-dialog {
  header {
      background: #e4e4e4;
      padding: 15px 24px 15px 24px;
      h2 { margin: 0; }
  }

  section {
      padding: 24px;
  }
  h3 { 
      font-size: 1.4rem;
      border-bottom: 3px solid #3E4095;
      display: inline-block;
  }
  
  div {
      small {
          color: #3E4095;
      }
  }
}