<div class="container-fluid">
    <div class="row">
        <div class="col mb-4">
            <input class="form-control form-control-lg" type="text" placeholder="Search student by name"
                [(ngModel)]="userenter" />
            <a routerLink="/admin/students/create" class="mt-2 btn btn-primary"><i class="fas fa-plus"></i> Add
                student</a>
        </div>
    </div>

    <div class="card">
        <div class="card p-4">
            <table class="table">
                <thead class="thead-purple">
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Social Name</th>
                        <th scope="col">Mobile Number</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- | filterlist:userenter -->
                    <tr *ngFor="let student of students | filterlist:userenter; let idx = index">
                        <th>{{student.basicInfo.registrationType}}</th>
                        <td scope="row">{{student.basicInfo.fullName}}</td>
                        <td>{{student.contactInfo.email}}</td>
                        <td>{{student.basicInfo.socialName}}</td>
                        <td>{{student.contactInfo.cellphoneNumber}}</td>
                        <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>menu</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" [overlapTrigger]="false">
                                <button mat-menu-item (click)="viewStudent(student)">
                                    <mat-icon>visibility</mat-icon>
                                    <span>View</span>
                                </button>
                                <!-- <button mat-menu-item (click)="openEdit(student)">
                                    <mat-icon>create</mat-icon>
                                    <span>Edit</span>
                                </button>
                                <button mat-menu-item (click)="openDelete(student)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button> -->
                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>