<div id="wrapper">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <router-outlet>
            <app-page-header></app-page-header>
            <div class="container-fluid m-160">
                <div class="row">
                    <div class="col-lg-12">
                        
                    </div>
                </div>
            </div>
        </router-outlet>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#sidebar-wrapper -->